@model Tasty.Payment

@{
    ViewBag.Title = "View";
}

<h1>Payment Done</h1>

<div>
    @Html.ActionLink("Home","View","Items")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
